body{
  background-color: #525252;
}

h1{
  text-align: center;
  background-color: #313131;
  color: #CA3E47;
  padding: 20px;

}

#keypad{
  background-color: #414141;  
  border-radius: 25px;
  border: 10px solid #313131;
  width: 300px;
  padding: 10px;
  margin: auto;
}

#keypad > .screen{
  border: 2px solid #CA3E47;
  background-color: #313131;
  color: #CA3E47;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}


.screen > #input-screen{
  text-align: right;
}

#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5 ,1fr);
  grid-gap: 10px;
  color: #CA3E47;
  height: 350px;
}

#keys > div{
  border: 2px solid #CA3E47;
  border-radius: 15px;
  background-color: #313131;
  text-align: center;
  padding-top: 20%;
}

#division-symbol{
  font-weight: 900;
}

#plus-symbol{
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

#equal-symbol{
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: 6;  
}

#zero{
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

#keypad > #keys > div:hover{
  background-color: #CA3E47;
  color: #313131;
}
